comp.sh
composer.lock
composer
instalcomposer.sh
composer.phar
composer.json
config/database.php
config/mail.php
logs/app.log
/vendor/
.vscode
script.sh
README.md

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock