html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-us{
    position: relative;
    display: flex;
    
}
#miky{
    position: relative;
    width: 350px;
    height: 350px;
}
#before{
    background-image: url('../images/personajes.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 250px 320px; 
    z-index: 1;
    filter: grayscale(100%);
    opacity: 1;
    transition: opacity 2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#after{
    background-image: url('../images/personajes.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 350px; 
    filter: contrast(150%);
    opacity: 0;
    transition: opacity 2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#miky:hover #before{
    opacity: 0;
}
#miky:hover #after{
    opacity: 1;
}
/* Oliver */

.primeraimg{
    z-index: 2;
    width: 350px;
    height: 350px;
    transform: rotateY(0deg);
    transition: all 0.7s linear;
    filter: grayscale(100%);
}
.imatges{
    position: relative;
}

.imatges:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.segundaimg{
    width: 350px;
    height: 350px;
    transition: all 0.7s linear;
    transform: rotateY(180deg);
}

.primeraimg, .segundaimg {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.imatges:hover .primeraimg{
    transform: rotateY(180deg);

}
.imatges:hover .segundaimg{
    transform: rotateY(360deg);
}

/*Eduard*/

body{
    background-color:turquoise;
}
#antes{
    position: relative;
    width: 350px;
    height: 350px;

}
.ibai1{
    display: flex;
    filter: grayscale(100%);
    width: 350px;
    height: 350px;
    position: absolute;
    left: 0;
    right: 0;
    margin:0 auto;

}
.ibai2{
    display: flex;
    filter: grayscale(100%);
    width: 350px;
    height: 350px;
    position: absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    opacity: 0;
}
#antes:hover .ibai1{
    cursor: default;
    transform: rotate(360deg);
    transition: all 1s ease-in-out 0s;


}

#antes:hover .ibai2{
cursor: default;
transform: rotate(360deg);
transition: all 1s ease-in-out 0s;
opacity: 1;
filter:saturate(150%);

}



