.register-wrapper {
    margin: 0;
    padding: 0;
    background-color: rgba(207, 224, 160, 0.618);
    height: 100%;
}
#login-box{
    padding: 20px;
}
#register .container #login-row #login-column #login-box {
margin-top: 120px;
max-width: 600px;
height: 460px;
border: 1px solid #9c9c9c;
background-color: #eaeaea;
}
.form-group{
margin: 10px 0px;
}

.register-button{
margin: 10px 0px;
}

#login .container #login-row #login-column #login-box #login-form {
padding: 20px;
}
#login
.container
#login-row
#login-column
#login-box
#login-form
#register-link {
margin-top: -85px;
  }
  